/* 
/* Larger screens */
html {
background-color: #ADD8E6;
}

p {
    margin: 5px;
    color: black;
}

.column {
    display: flex;
    flex-direction: column;
}
.cardDate {
    text-align: center;
    margin-top: 10px; /* Adjust the margin-top as needed for spacing */
}
#cont {

        text-align: center;
    
}

#container {
    display: flex;
    justify-content: space-around;
}

.div1, .div2, .div3, .div4, .div5 {
    border: 1px solid orange;
}

button {
    border: none;
    color: black;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
  }

#nameSection {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: fixed;
    margin-top: 40px;
  }

#city {
    align-self: center;
    color: black;
    font-size: 30px;
}

#search {
    position: fixed;
}