/* 
/* Larger screens */
html {
background-color: black;
}

p {
    margin: 5px;
}

.column {
    display: flex;
    flex-direction: column;
}
.cardDate {
    text-align: center;
    margin-top: 10px; /* Adjust the margin-top as needed for spacing */
}
#cont {

        text-align: center;
    
}

#container {
    display: flex;
    justify-content: space-around;
}

.div1, .div2 {
    border: 1px solid orange;
}